
@using EmployeeManagement.Web.Pages.CascadingValueParam

<h1 style="@ElementStyle; @H1Border">ChildCascadingCompenent</h1>
<GrandChildCascadingComponent></GrandChildCascadingComponent>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }
    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }
}
