
@using EmployeeManagement.Web.Pages.CascadingValueParam

<h3 style="@ElementStyle; @H1Border">GrandChildCascadingComponent</h3>


@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string ElementStyle { get; set; }
    [CascadingParameter(Name = "BorderStyle")]
    public string H1Border { get; set; }
}
